<div 
    class="card mx-3 col-md-3 px-0 mb-5 col-sm-12"
    *ngFor="let item of this.itemP">
    <img 
        [src]="item.urlImg" 
        class="card-img-top img"
        alt="item.name">
    <div 
        class="card-body">
        <h5 
            class="card-title"
        >
            {{ item.name | translate | titlecase }}
        </h5>
        <p 
            class="card-text"
        >
            {{ item.description | translate }}
        </p>
        <a 
            [href]="item.urlPortfolio" 
            class="btn btn-primary"
            target="_blank"
        >
            {{ "portfolio.button" | translate | titlecase }}
        </a>
    </div>
</div>