<div class="wrapper">
    <div class="center-line">
      <a routerLink="/#" class="scroll-icon">
        <img src="./assets/statics/img/arrow-up.png" alt="" srcset="" class="timeline-bagde-main">
      </a>
    </div>
    <div class="row row-1">
      <section>
        <!-- <h3 class="date">15th october, 2021</h3> -->
        <i class="icon fas fa-home">
            <img src="./assets/statics/img/itesa.jpg" alt="" srcset="" class="timeline-bagde">
        </i>
        <div class="details">
          <span class="title">Bachelor's degree</span>
          <span>15th october, 2021</span>
        </div>
        <span>Apan, Hidalgo, MX</span>
        <br />
        <span>
            <h5>
                Instituto Tecnológico Superior del Oriente del Estado de Hidalgo
            </h5>
        </span>
        <div class="mb-2"></div>
        <hr />
        <div class="mt-3">
            <span id="degree">
                B.S. in Computer Systems Engineering
            </span>
        </div>
        <hr />
        <div class="bottom">
          
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <!--<h3 class="date">June, 2021 - August, 2021</h3> -->
        <i class="icon fas fa-star">
            <img src="./assets/statics/img/virdebo.jfif" alt="" srcset="" class="timeline-bagde">
        </i>
        <div class="details">
          <span class="title">Virdebo</span>
          <span>June, 2021 - August, 2021</span>
        </div>
        <span><strong>Tlaxcala, MX</strong></span>
        <br />
        <span><strong>Role</strong>: Backend developer working by project in Virdebo</span>
        <hr />
        <div class="container pt-3">
            <ul>
                <li>
                    Built all the backend of Virdebo from cero, It was structured using MVC pattern.
                </li>
                <li>
                    Developed an API of REST architecture.
                </li>
                <li>
                    Deployed backend into Linux server and used PM2 to keep the API online.
                </li>
                <li>
                    Helped to design the MySQL database.
                </li>
                <li>
                    Helped to consume web services from Frontend with Angular using Observables.
                </li>
                <li>
                    Configure the database and backend on the server to keep communication between them.
                </li>
            </ul>
        </div>
        <div class="bottom mt-3">
          <i>
              Technologies involved: NodeJS, ExpressJS, Sequelize, JWT, MySQL, Angular, TypeScript, JSON, Git, PM2, Postman.
          </i>
        </div>
      </section>
    </div>
    <div class="row row-1">
        <section>
        <!-- <h3 class="date">February, 2021 - June, 2021</h3> -->
        <i class="icon fas fa-rocket">
            <img src="./assets/statics/img/devhive.png" alt="" srcset="" class="timeline-bagde">
        </i>
        <div class="details">
          <span class="title">Devhive</span>
          <span>February, 2021 - June, 2021</span>
        </div>
        <span><strong>Mexico city, MX</strong></span>
        <br />
        <span><strong>Role</strong>: Trainee student in Devhive as a Backend developer</span>
        <hr />
        <div class="container pt-3">
            <ul>
                <li>
                    Developed, implemented new changes, maintained and operated the REST API.
                </li>
                <li>
                    Created REST web services, designed JSON request/response.
                </li>
                <li>
                    Even though the team was working remotely, we managed to coordinate efficiently,
                    we were working under an agile approach using SCRUM.
                </li>
                <li>
                    Designed middleware for code optimization.
                </li>
                <li>
                    Helped to design new entities for MySQL Database.
                </li>
                <li>
                    Collaborated on identification of REST services and user interfaces (UI) doing business process modeling.
                </li>
            </ul>
        </div>
        <div class="bottom mt-3">
            <i>
                Technologies involved: MEAN Stack, MySQL, MongoDB, Sequelize,   Mongoose, JWT, Git,Bitbucket, JSON, MVC. Postman.
            </i>
        </div>
      </section>
    </div>
  </div>