<div class="cards-body">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 col-sm-12 mb-5">
                <div class="row">
                    <app-item
                        [items]="items"
                        [active]="itemActive"
                        (onFilterSkill)="filterSkill($event)"
                    >
                    </app-item>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <app-skill 
                    class="row" 
                    [skills]="skills"
                >
                </app-skill>
            </div>
        </div>
    </div>
</div>