.cards-body {
    font-family: tahoma;
    /* background-image: url(https://picsum.photos/g/3000/2000); */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}