<div 
    class="card mx-3 col-md-3 px-0 mb-5 col-sm-12"
    *ngFor="let item of this.itemCertified">
    <img 
        [src]="item.urlImg" 
        class="card-img-top img"
        alt="item.name">
    <div 
        class="card-body">
        <h5 
            class="card-title"
        >
            {{ item.name | titlecase }}
        </h5>
        <p 
            class="card-text"
        >
            {{ item.platform | titlecase }}
        </p>

        <span 
            *ngFor="let entity of item.entities"
            class="card-text"
        >
            {{ entity | titlecase }}
            <br>
        </span>

        <p 
            *ngIf="item.idCertified"
            class="card-text mt-2"
        >
            <strong>ID de certificado</strong>{{ item.idCertified }}
        </p>
        
        <a 
            [href]="item.urlCredential" 
            class="btn btn-primary mt-2"
            target="_blank"
        >
            {{ "certified.button" | translate | titlecase }}
        </a>
    </div>
</div>