<!--
<div 
    class="card mx-3 col-md-3 px-0 mb-5 col-sm-12"
    *ngFor="let item of this.itemCertified">
    <ngx-skeleton-loader 
        *ngIf="skeleton"
        animation="pulse" 
        count="1" 
        appearance="line"
        [theme]="{ 
            'border-radius': '5px',
            height: '12rem'
        }"></ngx-skeleton-loader>
    <img 
        *ngIf="!skeleton"
        [src]="item.urlImg" 
        class="card-img-top img"
        alt="item.name">
    <div 
        class="card-body">
        <ngx-skeleton-loader 
        *ngIf="skeleton"
        animation="pulse" 
        count="1" 
        appearance="line"
        [theme]="{ 
            'border-radius': '5px'
        }"></ngx-skeleton-loader>
        <h5 
            *ngIf="!skeleton"
            class="card-title"
        >
            {{ item.name | titlecase }}
        </h5>
        <ngx-skeleton-loader 
            *ngIf="skeleton"
            animation="pulse" 
            count="1" 
            appearance="line"
            [theme]="{ 
                'border-radius': '5px',
                width: '65%'
            }"></ngx-skeleton-loader>
        <p 
            *ngIf="!skeleton"
            class="card-text"
        >
            {{ item.platform | titlecase }}
        </p>

        <span 
            *ngFor="let entity of item.entities"
            class="card-text"
        >
            <ngx-skeleton-loader 
                *ngIf="skeleton"
                animation="pulse" 
                count="1" 
                appearance="line"
                [theme]="{ 
                    'border-radius': '5px',
                    width: '40%'
                }"></ngx-skeleton-loader>
            <span *ngIf="!skeleton">{{ entity | titlecase }}</span>
            <br>
        </span>

        <ngx-skeleton-loader 
            *ngIf="skeleton && item.idCertified"
            animation="pulse" 
            count="1" 
            appearance="line">
        </ngx-skeleton-loader>  
        <p
            *ngIf="item.idCertified && !skeleton"
            class="card-text mt-2"
        >
            <strong>{{ item.idCertified }}</strong>
        </p>

        <ngx-skeleton-loader 
            *ngIf="skeleton"
            animation="pulse" 
            count="1" 
            appearance="line"
            [theme]="{ 
                'border-radius': '5px',
                width: '20%'
            }"></ngx-skeleton-loader>        
        <a 
            *ngIf="!skeleton"
            [href]="item.urlCredential" 
            class="btn btn-primary mt-2"
            target="_blank"
        >
            {{ "certified.button" | translate | titlecase }}
        </a>
    </div>
</div>

-->

<div class="container">
    <div 
        class="row mt-5"
        *ngFor="let item of this.itemCertified">
        <div class="row">
            <div class="col-8 col-sm-4">
                <hr>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="row">
                <div class="col-12 title">
                    <ngx-skeleton-loader 
                        *ngIf="skeleton"
                        animation="pulse" 
                        count="1" 
                        appearance="line"
                        [theme]="{ 
                            'border-radius': '5px'
                        }">
                    </ngx-skeleton-loader>
                    <h5 
                        *ngIf="!skeleton"
                        class="card-title"
                    >
                        {{ item.name | titlecase }}
                    </h5>
                </div>
                <div class="col-12 mb-3">
                    <ngx-skeleton-loader 
                        *ngIf="skeleton"
                        animation="pulse" 
                        count="1" 
                        appearance="line"
                        [theme]="{ 
                            'border-radius': '5px',
                            width: '65%'
                        }">
                    </ngx-skeleton-loader>
                    <p 
                        *ngIf="!skeleton"
                        class="card-text"
                    >
                        {{ item.platform | titlecase }}
                    </p>
                </div>
                <div class="col-12 col-sm-12">
                    <span
                        *ngFor="let entity of item.entities"
                        class="card-text entity mb-3"
                    >
                        <ngx-skeleton-loader 
                            *ngIf="skeleton"
                            animation="pulse" 
                            count="1" 
                            appearance="line"
                            [theme]="{ 
                                'border-radius': '5px',
                                width: '40%'
                            }">
                        </ngx-skeleton-loader>
                        <span *ngIf="!skeleton">{{ entity | titlecase }}</span>
                        <br>
                    </span>
                    <p
                        *ngIf="item.idCertified && !skeleton"
                        class="card-text mt-2"
                    >
                        <strong>{{ item.idCertified }}</strong>
                    </p>
                </div>
                <div class="col-12 button">
                    <ngx-skeleton-loader 
                        *ngIf="skeleton"
                        animation="pulse" 
                        count="1" 
                        appearance="line"
                        [theme]="{ 
                            'border-radius': '5px',
                            width: '100%'
                        }">
                    </ngx-skeleton-loader> 
                    <a 
                        *ngIf="!skeleton"
                        [href]="item.urlCredential" 
                        class="btn btn-primary mt-5 mb-4 col-12"
                        target="_blank"
                    >
                        {{ "certified.button" | translate | titlecase }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <ngx-skeleton-loader 
                *ngIf="skeleton"
                animation="pulse" 
                count="1" 
                appearance="line"
                [theme]="{ 
                    'border-radius': '5px',
                    height: '32rem'
                }">
            </ngx-skeleton-loader>
            <img 
                *ngIf="!skeleton"
                [src]="item.urlImg" 
                class="card-img-top img"
                alt="item.name">
        </div>
    </div>
</div>